
.navbar{
    opacity: 0.8;
}



.navbar-dg {
    font-family: 'Lilita One', cursive;
    font-size: 35px;
    text-decoration: none;
    color:azure;
    padding-left: 0.3em;
    
}

.collapse-navbar{
    margin-right: 2rem;
}


.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

.carousel-caption .fun, .for, .kindergarten{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(123, 169, 255);
    font-size: 40px;
    justify-content: center;
    text-align: center;
  
}


.carousel-caption .doinggreat, .private{
    font-family: 'Lilita One', cursive;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.carousel-image {
    height: 700px;
    width: 100%;
    object-fit : cover;
}


.card {
    display: flex;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
}

#aboutus {
    padding-top: 5em;
}

#aboutus .col-auto {
    font-family: 'Lilita One', cursive;
}
    
.galery {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin:0 auto;
}

.galery h5 {
    font-family: "Shadows Into Light", cursive;
}


.fs-4 {
    padding-top: 1em;

}

#visitus .container h3, h4{
    font-family: "Nerko One", cursive;
}

.medsos .ig img {
    margin-top: 15px;
    width: 40%;

}

.medsos .wa img {
    margin-top: 15px;
    width: 20%;
}

